<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CalculatorWebServiceSoap1" />
                <binding name="SOAPDemoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SOAPDemoSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44331/CalculatorWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorWebServiceSoap"
                contract="MyServiceReference.CalculatorWebServiceSoap" name="CalculatorWebServiceSoap" />
            <endpoint address="https://www.crcind.com:443/csp/samples/SOAP.Demo.cls"
                binding="basicHttpBinding" bindingConfiguration="SOAPDemoSoap"
                contract="ServiceReference1.SOAPDemoSoap" name="SOAPDemoSoap" />
        </client>
    </system.serviceModel>
</configuration>